[submodule "vendor/github.com/go-pg/migrations"]
	path = vendor/github.com/go-pg/migrations
	url = https://github.com/go-pg/migrations
[submodule "vendor/github.com/go-pg/pg"]
	path = vendor/github.com/go-pg/pg
	url = https://github.com/go-pg/pg
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "vendor/github.com/sirupsen/logrus"]
	path = vendor/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus
[submodule "vendor/github.com/urfave/cli"]
	path = vendor/github.com/urfave/cli
	url = https://github.com/urfave/cli
