stages:
  - test
  - dev-release
  - dev-deploy



variables:
  TAG_DEV: develop
  TAG: production
  CONTAINER_IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}
  DEVELOP_NAMESPACE: hosting


test-build:
  services:
  image: docker:latest
  stage: test
  tags:
    - build
  script:
    - docker build -t ${CONTAINER_IMAGE}:${TAG_DEV}-${CI_BUILD_REF} .
    - docker rmi --force ${CONTAINER_IMAGE}:${TAG_DEV}-${CI_BUILD_REF}
  except:
    - develop
    - master
    - staging
    - tags

dev-release:
  image: docker:latest
  stage: dev-release
  tags:
    - build
  script:
    - docker login -u gitlab-ci-token -p ${CI_BUILD_TOKEN} ${CI_REGISTRY}
    - docker build -t ${CONTAINER_IMAGE}:${TAG_DEV}-${CI_BUILD_REF}  .
    - docker push ${CONTAINER_IMAGE}:${TAG_DEV}-${CI_BUILD_REF}
    - docker rmi --force ${CONTAINER_IMAGE}:${TAG_DEV}-${CI_BUILD_REF}
  only:
    - develop

dev-deploy:
  image: exon/helm
  stage: dev-deploy
  tags:
    - develop
  before_script:
    - mkdir -p /etc/deploy/
    - echo ${SANDBOX_KUBE_CONFIG} | base64 -d > ${KUBECONFIG}
    - helm init --client-only
    - helm repo update
  environment:
    name: develop
  script:
    - cd deploy
    - helm upgrade --install  --namespace=${DEVELOP_NAMESPACE} ${CI_PROJECT_NAME} --set image.tag=${TAG_DEV}-${CI_BUILD_REF} --set environment=develop --values values.yaml --values env/develop.yaml .
  only:
    - develop